body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px
}

.txt_wifi {
    color: #fd7506;
}

.txt_color {
    color: #9a9a9a;
}

.btn_wifi {
    background-color: #fd7506;
}

.bg_icons {
    background-color: #949494;
}

.btn_guest {
    background-color: #d15e00;
}

.btn_shadow {
    -webkit-box-shadow: -1px 2px 5px -1px #6b6b6bc4;
    -moz-box-shadow: -1px 2px 5px -1px #6b6b6bc4;
    box-shadow: -1px 2px 5px -1px #6b6b6bc4;
}

.cursor_pointer {
    cursor: pointer;
}

// sidth hinh: 54.4vw, height 77%

.bg_opp {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(12, 12, 12, 0.85);
    z-index: 2;

    .modal_box {
        border-radius: 31px;
        width: 90%;
        max-width: 400px;

        i {
            top: 18px;
            right: 18px;
            font-size: 26px;
        }
    }
}

section[name="form"] {
    &>div {
        // padding: 9.5rem 3rem 0rem 8rem;
        padding: 23.5% 0% 0% 11%;

        &>p {
            // font-size: 4.5rem;
            font-size: 5rem;
            letter-spacing: 1px;
            line-height: 100%
        }

        form {

            .effect-17,
            .select_gender {
                border: 0px;
                border-bottom: 1px solid #9a9a9a;
                outline: 0px;
                padding-left: 55px;
                padding-bottom: 14px;
                color: #959595;
                box-shadow: none;
            }

            .password {

                &~label:nth-child(2) {
                    opacity: 1;
                }

                &~label:nth-child(3) {
                    opacity: 0;
                }

                &:focus~label:nth-child(2) {
                    opacity: 0;
                }

                &:focus~label:nth-child(3) {
                    opacity: 1;
                }

            }


            input~span,
            select~span {
                bottom: 10px;
                left: 8px;
                font-size: 34px;
                color: #959595;
            }

            .icon-camera_circle {
                font-size: 46px;
            }

            .icon_gender {
                border: 2px solid #949494;
                font-size: 25px;
                padding: 6px 1px 0px 1px;
                overflow: hidden;
            }

            .icon_phone {
                border: 2px solid #949494;
                font-size: 22px;
                padding: 3px 5px 0px 5px;
                overflow: hidden;
            }

            .icon_camera {
                display: flex;
                align-items: end;
                margin: auto;
                width: 56px;
                border: 2px solid #949494;
                font-size: 42px;
                padding: 10px 0px 0px 5px;
                overflow: hidden;
                color: #959595;

                i {
                    margin-bottom: -3px;
                }
            }
        }

        button {
            font-size: 1.6rem;
        }

        #btn_back {
            border: 2px solid #94949491;
            color: #949494;
        }
    }
}


section[name="image"] {
    align-items: center;

    &>div {
        // padding: 0rem 7rem 0rem 3rem;
        padding: 0% 13% 0% 7%;

        img {
            width: 100%;
        }

        p {
            text-align: right;
        }
    }
}

// dth nho & trung binh & lon
@media (min-width:300px) and (max-width: 1023px) {
    .box {
        height: 100%;
    }

    section[name="form"] {
        >div {
            padding: 5% 6% 0% 6%;

            input {
                font-size: 12px;

                ~label {
                    font-size: 12px;
                }
            }

            form {
                img {
                    width: 50px;
                }

                span {
                    font-size: 25px !important;
                }

                .icon_gender {
                    font-size: 19px !important;
                }

                .icon_phone {
                    font-size: 22px !important;
                }

                .icon_camera {
                    font-size: 35px !important;
                    width: 48.9px;
                    padding: 8px 0px 0px 5px;
                }

                .phone {
                    box-shadow: none;
                }
            }

            button {
                font-size: 1rem;
            }
        }
    }

    section[name="image"] {
        >div {
            padding: 0% 8% 0% 8%;

            img {
                width: 69%;
            }

            p {
                text-align: center;
                font-size: 10px;
            }
        }
    }
}

// dth nho
@media (min-width:300px) and (max-width: 1023px) and (max-height:650px) {
    section[name="form"] {
        >div {
            padding: 3% 5% 0% 5%;

            >p {
                font-size: 1.7rem;
            }

            form {

                .effect-17,
                .select_gender {
                    padding-bottom: 8px;
                }
            }
        }

        #btn_back {
            border: 2px solid #94949491;
        }
    }
}

// dth lon
@media (min-width:300px) and (max-width: 1023px) and (min-height:800px) {
    section[name="form"] {
        >div {
            padding: 6% 9% 0% 9%;

            >p {
                font-size: 4.7rem;
            }

            input {
                font-size: 16px;

                // ~label {
                //     font-size: 32px;
                // }
            }

            form {

                .effect-17,
                .select_gender {
                    padding-bottom: 8px;
                    padding-left: 39px;
                }

                input~span,
                select~span {
                    bottom: 8px;
                    left: 5px;
                }

                span {
                    font-size: 27px !important;
                }

                .icon_gender,
                .icon_phone {
                    font-size: 18px !important;
                }

                .icon_camera {
                    font-size: 68px !important;
                    width: 88.9px;
                    padding: 17px 0px 0px 9px;
                }

                .phone {
                    box-shadow: none;
                }
            }
        }

        #btn_back {
            border: 2px solid #94949491;
        }
    }
}

@media only screen and (min-width:1024px) and (max-width:1199px) and (min-height:1000px) {
    section[name="form"] {
        &>div {
            // padding: 3.5rem 4rem 0rem 4rem;
            padding: 16px 36px 0px 36px;

            >p {
                font-size: 6rem;
            }

            input {
                font-size: 32px;

                ~label {
                    font-size: 32px;
                }
            }

            form {

                .effect-17,
                .select_gender {
                    padding-bottom: 8px;
                }

                input~span,
                select~span {
                    bottom: 14px;
                }

                span {
                    font-size: 35px !important;
                }

                .icon_gender,
                .icon_phone {
                    font-size: 28px !important;
                }

                .icon_camera {
                    font-size: 68px !important;
                    width: 88.9px;
                    padding: 17px 0px 0px 9px;
                }

                .phone {
                    box-shadow: none;
                }
            }

        }
    }

    section[name="image"] {
        &>div {
            // padding: 0rem 7rem 2rem 5rem;
            padding: 0px 36px 0px 38px;

            p {
                text-align: center;
            }
        }
    }
}